<!-- Contact -->
<section id="contact">
  <div class="inner">
    <section>
      <form action="https://formspree.io/{{ site.email }}" method="POST">
        <div class="field half first">
          <label for="name">Name</label>
          <input type="text" name="name" id="name" />
        </div>
        <div class="field half">
          <label for="email">Email</label>
          <input type="text" name="_replyto" id="email" />
        </div>
        <div class="field">
          <label for="message">Message</label>
          <textarea name="message" id="message" rows="6"></textarea>
        </div>
        <ul class="actions">
          <li><input type="submit" value="Send Message" class="special" /></li>
          <li><input type="reset" value="Clear" /></li>
        </ul>
        <input type="hidden" name="_next" value="/success.html?message=We%20have%20received%20your%20message%20and%20we%27ll%20be%20in%20contact%20with%20you%20shortly" />
        <input type="text" name="_gotcha" style="display:none" />
      </form>
    </section>
    <section class="split">
      <section>
        <div class="contact-method">
          <span class="icon alt fa-envelope"></span>
          <h3>Email</h3>
          <a href="mailto:{{site.email}}">{{ site.email }}</a>
        </div>
        <div class="contact-method">
          <span class="icon alt fa-twitter"></span>
          <h3>Twitter</h3>
          <a href="{{ site.twitter_url }}">@cryptck</a>
        </div>
        <div class="contact-method">
          <span class="icon alt fa-facebook"></span>
          <h3>Facebook</h3>
          <a href="{{ site.facebook_url }}">CrytpTck</a>
        </div>
      </section>
    </section>
  </div>
</section>
